
body { 
	margin: 0; 
	padding: 0
}

canvas {
    position: absolute;
	width: 100%;
	height: 100%;
}

.hud {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: default;
	z-index: 1;
}

.dugItems {
    position: fixed;
    width: 130px;
    right: 70px;
    top: 100px;
    background-color: rgba(64, 64, 64, 0.5);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dugItemsEntry {
    position: relative;
    width: 200px;
    height: 32px;
    margin-top: 10px;
}

.dugItemsEntryImage {
    position: relative;
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 10px;
}

.dugItemsEntryText {
    position: relative;
    height: 12px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-family: Monospace;
}

.dugItemsFooter {
    position: relative;
    width: 200px;
    height: 10px;
}

.inventory {
    position: fixed;
    width: 544px;
    height: 158px;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(64, 64, 64);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inventoryHeader {
    position: relative;
    width: 100%;
    height: 22px;
    background-color: rgb(64, 64, 64);
    color: rgb(200,200,200);
    font-family: Monospace;
}

.inventoryContent {
    position: relative;
    width: 544px;
    height: 136px;
}

.inventorySlot {
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    background-image: url("data/textures/inventorySlotSmall2.png");
}

.slotDescriber {
    position: absolute;
    display: none;
    z-index: 50;
    color:white;
    font-family: Monospace;
    font-size: 10px;
}

.slotImageContainer {
    position: relative;
    width: 32px;
    height: 32px;
    left:1px;
    margin-top:1px;
    background-position:50% 50%;  /* Sets reference point to scale from */
    background-size:contain;  
}

.slotImageContainerOverlay {
    position: relative;
    width: 32px;
    height: 32px;
}

.slotTextContainer {
    position: relative;
    width: 34px;
    height: 12px;
    text-align: center;
    top: -23px;
    color: white;
    font-family: Monospace;
}

.chat {
    position: fixed;
    width: 200px;
    height: calc(60% - 10px);
    background-color:white;
    left: 0;
}

.crafting {
    position: fixed;
    width: 544px;
    height: 158px;
    bottom: 180px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(64, 64, 64);
    background-color: rgba(64, 64, 64, 0.5);
    display: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.craftingLeft {
    position: relative;
    float: left;
    width: 400px;
    height: 100%;
    overflow-y: scroll;
}

.craftingEntry {
    position: relative;
    width: 100%;
    height: 40px;
}

.craftingEntrySeparator {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgb(64, 64, 64);
}

.craftingEntryContent {
    position: relative;
    width: calc(100% - 8px);
    height: 32px;
    top: 4px;
    left: 4px;
}

.craftingEntryContentOperator {
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    font-family: Monospace;
    font-size: 30px;
    line-height: 30px;
    color: white;
}

.craftingImageHolder {
    position: relative;
    float: left;
    height: 32px;
    background-position: 50% 50%;  /* Sets reference point to scale from */
    background-size: contain;  
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-family: Monospace;
    font-size: 15px;
    line-height: 32px;
}

.craftingRight {
    position: relative;
    float: right;
    width: 138px;
    height: 100%;
    border-left-style: solid;
    border-left-width: 4px;
    border-color: rgb(64, 64, 64);
}

.craftingRightTextContainer {
    position: relative;
    width: 130px;
    height: 12px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    color: red;
    font-family: Monospace;
    font-size: 11px;
}

.craftingRightPreview {
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 25px;
    margin-top: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(64, 64, 64);
    background-position: 50% 50%;  /* Sets reference point to scale from */
    background-size: contain;  
    background-repeat: no-repeat;
}

.craftingRightPreviewTextContainer {
    position: relative;
    width: 76px;
    height: 12px;
    margin-left: 2px;
    margin-top: 1px;
    text-align: center;
    color: white;
    font-family: Monospace;
    font-size: 11px;
}


.craftButton {
    position: relative;
    width: 80px;
    height: 20px;
    margin-left: 25px;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(64, 64, 64);
    font-family: Monospace;
    font-size: 13px;
    line-height: 20px;
    color: white;
    background-color:rgba(64, 64, 64, 1.0); 
}

.craftButton:hover {
    background-color:rgba(90, 90, 90, 1.0); 
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background-color:rgba(64, 64, 64, 0); 
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:rgba(64, 64, 64, 0.7); 
}