
body { 
	margin: 0; 
	padding: 0
}

canvas {
    position:absolute;
	width: 100%;
	height: 100%;
}

.hud {
	position:relative;
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: default;
	z-index: 1;
}

.dugItems {
    position:fixed;
    width: 200px;
    height: calc(60% - 10px);
    right: 0;
}

.inventory {
    position: fixed;
    width: 544px;
    height: 158px;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(64, 64, 64);
}

.inventoryHeader {
    position: relative;
    width: 100%;
    height: 22px;
    background-color: rgb(64, 64, 64);
    color: rgb(200,200,200);
    font-family: Monospace;
}

.inventoryContent {
    position: relative;
    width: 544px;
    height: 136px;
}

.inventorySlot {
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    background-image: url("data/textures/inventorySlotSmall2.png");
}

.slotImageContainer {
    position: relative;
    width: 34px;
    height: 34px;
    left:1px;
    margin-top:1px;
}

.slotTextContainer {
    position: relative;
    width: 34px;
    height: 12px;
    text-align: center;
    top: -23px;
    color: white;
    font-family: Monospace;
}

.chat {
    position: fixed;
    width: 200px;
    height: calc(60% - 10px);
    background-color:white;
    left: 0;
}