
body { 
	margin: 0; 
	padding: 0
}

canvas {
    position: absolute;
	width: 100%;
	height: 100%;
}

.hud {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: default;
	z-index: 1;
}

.dugItems {
    position: fixed;
    width: 130px;
    right: 70px;
    top: 100px;
    background-color: rgba(64, 64, 64, 0.5);
}

.dugItemsEntry {
    position: relative;
    width: 200px;
    height: 32px;
    margin-top: 10px;
}

.dugItemsEntryImage {
    position: relative;
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 10px;
}

.dugItemsEntryText {
    position: relative;
    height: 12px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-family: Monospace;
}

.dugItemsFooter {
    position: relative;
    width: 200px;
    height: 10px;
}

.inventory {
    position: fixed;
    width: 544px;
    height: 158px;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(64, 64, 64);
}

.inventoryHeader {
    position: relative;
    width: 100%;
    height: 22px;
    background-color: rgb(64, 64, 64);
    color: rgb(200,200,200);
    font-family: Monospace;
}

.inventoryContent {
    position: relative;
    width: 544px;
    height: 136px;
}

.inventorySlot {
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    background-image: url("data/textures/inventorySlotSmall2.png");
}

.slotDescriber {
    position: absolute;
    display: none;
    z-index: 50;
    color:white;
    font-family: Monospace;
    font-size: 10px;
}

.slotImageContainer {
    position: relative;
    width: 34px;
    height: 34px;
    left:1px;
    margin-top:1px;
}

.slotImageContainerOverlay {
    position: relative;
    width: 32px;
    height: 32px;
}

.slotTextContainer {
    position: relative;
    width: 34px;
    height: 12px;
    text-align: center;
    top: -23px;
    color: white;
    font-family: Monospace;
}

.chat {
    position: fixed;
    width: 200px;
    height: calc(60% - 10px);
    background-color:white;
    left: 0;
}

/*Filter styles*/
.saturate {-webkit-filter: saturate(3); filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%); filter: contrast(160%);}
.brightness {-webkit-filter: brightness(1.9); filter: brightness(1.9);}
.blur {-webkit-filter: blur(3px); filter: blur(3px);}
.invert {-webkit-filter: invert(100%); filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%); filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg); filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%); filter: opacity(50%);}